[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/gtest-parallel"]
	path = external/gtest-parallel
	url = https://github.com/google/gtest-parallel.git
[submodule "external/cli"]
	path = external/cli
	url = https://github.com/daniele77/cli
[submodule "external/glaze"]
	path = external/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "external/benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
